$app-max-width: 600px;
$mobile-breakpoint: 768px;

$font-size-heading: 20px;
$font-size-standard: 15px;
$font-montserrat: "Montserrat Alternates";
$font-inter: 'Inter';

$text-color-standard: #585666;
$orange: #ff941a;

$border-standard: 1px solid #E3E3E6;
$box-shadow-standard: 0px 0 4px rgba(0, 0, 0, 0.25);